<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Autobiografia.css">
    <title>Autobiografia</title>
</head>
<body>
    <div id="wrapper">
        <article class="instructions">
            <h1>ALEXANDER VELASQUEZ</h1>
            <section class="columns">
                <p>EL <code>DESARROLLO DE SOFTWARE: </code> El motivo que por el cual me decidi a estudiar desarrolo de software es porque en el ambito laboral cuenta con buenas expectativas economicas brindadome la oportunidad de poder trabajar desde cualquier parte del mundo con solo tener acceso a internet</p>
                <p>El cesde me a brindado la oportunidad de preparme y adquirir conocmientos importantes que me ayudan para mi formacion academica y en un futuro laboral</p>
            </section>
<img src="../img/leon.jpg" alt="">
        </article>
        
    </div>
    
</body>
</html>